a {
  text-decoration: none;
}

.main {
  background:#000533;
  font-family: serif;
  height: 90vh;
}



/* おすすめの本 */
.select-reason-contents {
  padding: 5vh 25vw;
  background-image: image-url('top-image.jpg');
  background-size: contain;
  
  opacity: 0;
  transition: 3s;
}
.select-reason-contents.show{
  opacity: 1;
  transform: none;
}

.select-reason-contents>.title {
  width: 50vw;
  height: 15vh;

  position: relative;
  border-radius: 5px;
  opacity: 0;
  transition: 5s;
  transform: translateY(-50px);
}
.select-reason-contents>.title.show {
opacity: 1;
transform: none;
}



.reason-lists {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.reason-lists>.list {
  width: 33vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.list-pict {
  margin-bottom: 20px;
  width: 100%;
}

.reason-list-number {
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  font-size: 30px;
  text-align: center;
  line-height: 60px;
  background-color: #3ccace;
  color: #fff;
}

.reason-list-text {
  font-weight: bold;
  font-size: 24px;
  line-height: 50px;
}

.reason-list-blue-text {
  color: #3ccace;
}

.reason-list-description {
  font-size: 18px;
  margin-top: 20px;
}

/* //FURIMAが選ばれる3つの理由部分 */


/* 画面中央の「会員数日本一位」帯部分*/
.ad-contents {
  width: 100vw;
  background-image: image-url('furima-header02.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 5vh 15vw;
  color: #fff;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.9);
}

.ad-title {
  font-size: 5vh;
  margin-bottom: 2vh;
  border-radius: 5px;
}

.ad-explain {
  font-size: 2.5vh;
  line-height: 30px;
}

.store-btn {
  display: flex;
  margin-top: 24px;
}

.apple-btn {
  margin-right: 1vw;
  height: 9vh;
}

.google-btn {
  height: 9vh;
}


/* 商品一覧 */

.item-contents {
  background-color: #FFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3vh 0;
  border-radius: 5px;
  opacity: 0;
  transition: 2.5s;
  transform: translateY(50px);
}
.item-contents.show{
  transform: none;
  opacity: 1;
}

.item-contents>.title {
  font-size: 5vh;
  line-height: 1.4;
  font-weight: bold;
}

.item-contents>.subtitle {
  font-size: 3vh;
  margin: 1vh 0;
  text-decoration: none;
  color: #000f94;
  font-weight: bold;
}

.item-lists {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.item-lists>.list {
  width: 37vh;
  padding: 1vw;
  background-color: #FFF;
}


.item-img-content {
  position: relative;
}

.item-img {
  width: 33vh;
  height: 33vh;
  padding: 1vh,0;
  border-radius: 5px;
}

.sold-out {
  position: absolute;
  top: 40%;
  width: 100%;
  text-align: center;
  background-color:black;
  transform: skewY(-10deg);
}

.sold-out>span {
  color: #FFF;
  font-size: 40px;
  font: bold;
}


.item-info {
  color: white;
  width: 20vw;
  height: 3vh;
}

.item-name {
  font-size: 4vh;
}

.item-price {
  font-size: 3vh;
  display: flex;
  justify-content: space-between;
}


.star-btn {
  display: flex;
  align-items: center;
}

.star-icon {
  height: 3vh;
  width: 3vh;
  margin-right: 0.5vw;
}

.star-count {
  font-size: 4vh;
}
.list {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3vh;
    opacity: 1;
    transition: 5s;
    transform: translateX(150px);
}

.list.show{
  opacity: 1;
  transform: none;
}
/* //商品一覧 */